$primary-color: rgb(63, 81, 181);
$secondary-color: rgb(33, 150, 243);
$primary-font-color: #fff;
$secondary-font-color: #717171;
$link-color: rgb(68, 138, 255);
$link-hover-color: #23527c;
$border-color: #d3d3d3;
$secondary-background-color: #f5f4f4;
$white: #fff;
