$game-border: 2px solid $white;
$shadow: 2px 2px 2px gray;

.game-board-alert {
  margin: 10px auto 0;
  max-width: 500px;
}

div {
  text-align: center;
}

.board-overlay {
  align-items: center;
  background-color: #3f51b5;
  height: 100%;
  position: absolute;
  z-index: 10;
  justify-content: center;
  display: flex;
  font-size: 6em;
  width: 100%;
  top: 0;
  left: 0;
}

.game-footer {
  width: 100%;

  button {
    margin: 20px;
  }
}

.game-board-header {
  display: flex;
  margin: .5em auto;
  max-width: 500px;

  div {
    align-items: center;
    background-color: $white;
    box-shadow: 1px 1px 1px #808080;
    color: $secondary-font-color;
    flex: 1;
    font-size: 1em;
    justify-content: center;
    padding: .2em 0;
    border-bottom: 5px solid $white;

    &:nth-child(1) {
      margin-right: .25em;
    }

    &:nth-child(2) {
      margin-left: .25em;
    }

    &.is-active {
      border-bottom: 5px solid $primary-color;
      //margin-bottom: -5px;
    }
    br {
      margin: 5px 0;
    }
    span {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

h1,
h2 {
  text-align: center;
}

.form-card {
  .top-item {
    font-size: 1.5em;
    font-weight: bold;
  }

  li:nth-child(n+2) {
    border-top: $game-border;
  }
}

.game-board .row {
  margin: 0 auto;

  &:nth-child(-n+3) {
    border-bottom: $game-border;
  }

  div {
    font-size: 10em;
    height: 175px;

    &:hover {
      cursor: pointer;
    }

    &:nth-child(-n+2) {
      border-right: $game-border;
    }
  }
}

.game-board {
  position: relative;
  background-color: $primary-color;
  box-shadow: $shadow;
  margin: 0 auto;
  max-width: 500px;
  color: $white;
}
@media only screen and (max-width: 400px) {
  .game-board .row div {
    font-size: 6em;
    height: 120px;
  }
}
