$game-border: 2px solid $white;
$shadow: 2px 2px 2px gray;

.game-board-alert {
  margin: 10px auto 0;
  max-width: 500px;
}

div {
  text-align: center;
}

.game-footer {
  width: 100%;

  button {
    margin: 20px;
  }
}
.game-board-header{
  margin: .5em auto;
  max-width: 500px;
  display: flex;

  div {
    background-color: $secondary-color;
    flex: 1;
    color: $white;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    padding: 0.5em;

    &:nth-child(1){
        margin-right: .25em;
    }
    &:nth-child(2){
        margin-left: .25em;
    }
  }

}


h1,
h2 {
  text-align: center;
}

.form-card {
  .top-item {
    font-size: 1.5em;
    font-weight: bold;
  }

  li:nth-child(n+2) {
    border-top: $game-border;
  }
}

.game-board .row {
  margin: 0 auto;

  &:nth-child(-n+2) {
    border-bottom: $game-border;
  }

  div {
    font-size: 10em;
    height: 175px;
    &:hover {
      cursor: pointer;
    }

    &:nth-child(-n+2) {
      border-right: $game-border;
    }
  }
}

.game-board {
  background-color: $primary-color;
  box-shadow: $shadow;
  margin: 0 auto;
  max-width: 500px;
  color: $white;
}
@media only screen and (max-width: 400px) {
  .game-board .row div {
    font-size: 6em;
    height: 120px;
  }
}
